<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- thymeleafEx01.html -->
<!-- - Live Reload: 정적 자원(html, css, js) 수정 시 새로 고침 없이 바로 적용할 수 있습니다. -->
<!-- - Property Defaults: Thymeleaf는 기본적으로 성능을 향상시키기 위해 캐싱 기능을 사용합니다. 하지만 개발하는 과정에서 캐싱 기능을 사용하면 수정한 소스가 제대로 반영되지 않을 수 있기 때문에 cache의 기본값을 false로 설정할 수 있습니다. -->

<!-- 데이터 출력: th:text를 사용하여 모델에 추가한 "data" 변수를 출력 -->
<p th:text="${data}">Hello Thymeleaf!!</p>

</body>
</html>
